In [1]:
import pandas as pd

In [4]:
population = pd.read_csv("population_1960.csv")
gdp = pd.read_csv("gdp_1960.csv")
olympics = pd.read_csv("Summer_Olympics.csv")

In [5]:
population.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973,9169410,9351441,9543205,9744781,9956320,...,28394813,29185507,30117413,31161376,32269589,33370794,34413603,35383128,36296400,37172386
1,Albania,ALB,"Population, total",SP.POP.TOTL,1608800,1659800,1711319,1762621,1814135,1864791,...,2927519,2913021,2905195,2900401,2895092,2889104,2880703,2876101,2873457,2866376
2,Algeria,DZA,"Population, total",SP.POP.TOTL,11057863,11336339,11619828,11912803,12221675,12550885,...,35333881,35977455,36661444,37383887,38140132,38923687,39728025,40551404,41389198,42228429
3,American Samoa,ASM,"Population, total",SP.POP.TOTL,20123,20602,21253,22034,22854,23672,...,56683,56079,55759,55667,55713,55791,55812,55741,55620,55465
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411,14375,15370,16412,17469,18549,...,84463,84449,83747,82427,80774,79213,78011,77297,77001,77006